get_data- campus.json
[{"id":"2a5c87f3.31ad18","type":"http request","z":"4b3d9ceb.b33f54","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://campus.kits.tw/api/get/data/aa85e711","tls":"","proxy":"","authType":"bearer","x":660,"y":320,"wires":[["7124c6f0.ccadb8"]]},{"id":"cd4ce958.8e3908","type":"inject","z":"4b3d9ceb.b33f54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":320,"wires":[["2a5c87f3.31ad18"]]},{"id":"c476c247.0947e","type":"debug","z":"4b3d9ceb.b33f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":320,"wires":[]},{"id":"7124c6f0.ccadb8","type":"JSONFilter","z":"4b3d9ceb.b33f54","name":"data_filter","fields":"temperature","expiry":5,"x":870,"y":320,"wires":[["c476c247.0947e"]]}]