get_data-MQTT.json
[{"id":"d3494dd9.f44a8","type":"JSONFilter","z":"3a8bbec9.8a7f32","name":"data_filter","fields":"data","expiry":5,"x":870,"y":260,"wires":[["967b4295.a3925"]]},{"id":"40dac347.c17cdc","type":"debug","z":"3a8bbec9.8a7f32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1380,"y":320,"wires":[]},{"id":"fd264c66.29d72","type":"debug","z":"3a8bbec9.8a7f32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1380,"y":380,"wires":[]},{"id":"e51228ce.d4c938","type":"json","z":"3a8bbec9.8a7f32","name":"string_to_array","property":"payload","action":"","pretty":false,"x":890,"y":200,"wires":[["d3494dd9.f44a8"]]},{"id":"4d1c657f.fc0f2c","type":"function","z":"3a8bbec9.8a7f32","name":"temperature_filter","func":"var first = msg.payload.substring(0,2);\nvar last = msg.payload.substring(2,4);\nmsg.payload = first + \".\" + last\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1180,"y":320,"wires":[["40dac347.c17cdc"]]},{"id":"b0555577.c75f08","type":"function","z":"3a8bbec9.8a7f32","name":"humidity_filter","func":"var first = msg.payload.substring(4,6);\nvar last = msg.payload.substring(6,8);\nmsg.payload = first + \".\" + last\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":380,"wires":[["fd264c66.29d72"]]},{"id":"967b4295.a3925","type":"json","z":"3a8bbec9.8a7f32","name":"array_to_string","property":"payload","action":"","pretty":false,"x":890,"y":320,"wires":[["e9c8051b.1b8ea8"]]},{"id":"e9c8051b.1b8ea8","type":"string","z":"3a8bbec9.8a7f32","name":"clear_shell","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"[{\"data\":\""}]},{"name":"delRightMost","params":[{"type":"str","value":"\"}]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":880,"y":380,"wires":[["4d1c657f.fc0f2c","b0555577.c75f08"]]},{"id":"fb7c2866.bfc368","type":"mqtt in","z":"3a8bbec9.8a7f32","name":"","topic":"GIOT-GW/UL/1C497B4558A3","qos":"0","datatype":"auto","broker":"c0ac8186.5e8ff","x":370,"y":200,"wires":[["c82ec062.3251d","65613de9.bd2794"]]},{"id":"c82ec062.3251d","type":"function","z":"3a8bbec9.8a7f32","name":"macAddr_filter","func":"var macAddr = flow.get('macAddr');\n\nif(macAddr == \"0000000010603006\"){\n    return msg;\n}\nelse\n    return null;\n    \n","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["e51228ce.d4c938"]]},{"id":"65613de9.bd2794","type":"string","z":"3a8bbec9.8a7f32","name":"get_macAddr","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"\"macAddr\":\""}]},{"name":"delRightMost","params":[{"type":"str","value":"\", \"data\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":650,"y":120,"wires":[["fe837502.3c8df8"]]},{"id":"fe837502.3c8df8","type":"function","z":"3a8bbec9.8a7f32","name":"set_macAddr","func":"var macAddr = flow.get('macAddr');\n\nmacAddr = msg.payload;\n\nflow.set('macAddr', macAddr);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"c0ac8186.5e8ff","type":"mqtt-broker","z":"","name":"","broker":"140.127.196.120","port":"1883","clientid":"isu10603006a","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]