Lab-6_door.json
[{"id":"3979b192.4fe93e","type":"http request","z":"43326239.a56e0c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://campus.kits.tw/api/get/data/aa85e711","tls":"","proxy":"","authType":"bearer","x":380,"y":100,"wires":[["11f84677.64f7da"]]},{"id":"11f84677.64f7da","type":"JSONFilter","z":"43326239.a56e0c","name":"time_filter","fields":"created_at","expiry":5,"x":560.6290664672852,"y":100.23048305511475,"wires":[["9bc8abb.c39c458","4c887179.4953a"]]},{"id":"9bc8abb.c39c458","type":"function","z":"43326239.a56e0c","name":"time to seconds","func":"var hour = [];\nvar min = [];\nvar sec = [];\nvar total = [];\nvar year = [];\nvar month = [];\nvar day = [];\n\nvar start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nvar start_time = flow.get('start_time');\nvar end_time = flow.get('end_time');\n\n\nfor (var i=0 ; i<msg.payload.length ; i++) {\n    year[i] = parseInt(msg.payload[i].created_at.substring(0,4));\n    month[i] = parseInt(msg.payload[i].created_at.substring(5,7));\n    day[i] = parseInt(msg.payload[i].created_at.substring(8,10));\n    \n    hour[i] = parseInt(msg.payload[i].created_at.substring(11,13));\n    min[i] = parseInt(msg.payload[i].created_at.substring(14,16));\n    sec[i] = parseInt(msg.payload[i].created_at.substring(17,19));\n    \n    total[i] = hour[i]*3600 + min[i]*60 + sec[i];\n    \n    msg.payload[i].created_at = total[i];\n    msg.payload[i].year = year[i];\n    msg.payload[i].month = month[i];\n    msg.payload[i].day = day[i];\n}\n\nmsg.payload[msg.payload.length] = {\"created_at\":start_time , \"year\": start_year, \"month\": start_month, \"day\": start_day};\nmsg.payload[msg.payload.length] = {\"created_at\":end_time , \"year\": end_year, \"month\": end_month, \"day\": end_day};\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":100,"wires":[["84e85e8a.46a8c"]]},{"id":"ea76f94d.e5c7c8","type":"inject","z":"43326239.a56e0c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204.62494659423828,"y":259.57424545288086,"wires":[["a6e1ed75.6d1a4"]]},{"id":"f61ee42b.b3ad18","type":"function","z":"43326239.a56e0c","name":"stored_day","func":"var start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nstart_year = parseInt(msg.payload.substring(0,4));\nstart_month = parseInt(msg.payload.substring(5,7));\nstart_day = parseInt(msg.payload.substring(8,10));\n\nflow.set('start_year', start_year);\nflow.set('start_month', start_month);\nflow.set('start_day', start_day);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":572.257682800293,"y":311.41069507598877,"wires":[[]]},{"id":"a6e1ed75.6d1a4","type":"ui_text_input","z":"43326239.a56e0c","name":"start_day","label":"<font size = 5>Type your starting day : ","tooltip":"","group":"a08f6e4.2bbc59","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":360.6444854736328,"y":258.6328229904175,"wires":[["f61ee42b.b3ad18","8f95b65b.a26938","3979b192.4fe93e"]]},{"id":"1d58869c.31f699","type":"inject","z":"43326239.a56e0c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208.62494659423828,"y":544.5742454528809,"wires":[["2a42d113.bba58e"]]},{"id":"be68f20b.e51f8","type":"function","z":"43326239.a56e0c","name":"time to seconds","func":"var hour = 0;\nvar min = 0;\nvar sec = 0;\nvar total = 0;\nvar start_time = flow.get('start_time');\n\nhour = parseInt(msg.payload.substring(0,2));\nmin = parseInt(msg.payload.substring(3,5));\nsec = parseInt(msg.payload.substring(6,8));\ntotal = hour*3600 + min*60 + sec;\n\nflow.set('start_time', total);\n\nmsg.payload = total;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":579.035472869873,"y":594.1883735656738,"wires":[[]]},{"id":"2a42d113.bba58e","type":"ui_text_input","z":"43326239.a56e0c","name":"start_time","label":"<font size = 5>Type your starting time :  ","tooltip":"","group":"a08f6e4.2bbc59","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":346.644474029541,"y":544.6328172683716,"wires":[["be68f20b.e51f8","693a7321.4a9f1c","3979b192.4fe93e"]]},{"id":"dfe60297.b8f12","type":"inject","z":"43326239.a56e0c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206.62494659423828,"y":705.5742015838623,"wires":[["66e72fb.7bd86d"]]},{"id":"a4c96ea3.36c61","type":"function","z":"43326239.a56e0c","name":"time to seconds","func":"var hour = 0;\nvar min = 0;\nvar sec = 0;\nvar total = 0;\nvar end_time = flow.get('end_time');\n\nhour = parseInt(msg.payload.substring(0,2));\nmin = parseInt(msg.payload.substring(3,5));\nsec = parseInt(msg.payload.substring(6,8));\ntotal = hour*3600 + min*60 + sec;\n\nflow.set('end_time', total);\n\nmsg.payload = end_time;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580.1465835571289,"y":756.4107294082642,"wires":[[]]},{"id":"66e72fb.7bd86d","type":"ui_text_input","z":"43326239.a56e0c","name":"end_time","label":"<font size = 5>Type your end time :  ","tooltip":"","group":"a08f6e4.2bbc59","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":353.6444854736328,"y":704.6328001022339,"wires":[["a4c96ea3.36c61","3a420675.dc112a","3979b192.4fe93e"]]},{"id":"1d0f2580.33c1bb","type":"inject","z":"43326239.a56e0c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":205.62494277954102,"y":389.57424545288086,"wires":[["c3e8ca9d.e1b7c8"]]},{"id":"90357917.1810c8","type":"function","z":"43326239.a56e0c","name":"stored_day","func":"var end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nend_year = parseInt(msg.payload.substring(0,4));\nend_month = parseInt(msg.payload.substring(5,7));\nend_day = parseInt(msg.payload.substring(8,10));\n\nflow.set('end_year', end_year);\nflow.set('end_month', end_month);\nflow.set('end_day', end_day);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":571.3688011169434,"y":442.5217237472534,"wires":[[]]},{"id":"c3e8ca9d.e1b7c8","type":"ui_text_input","z":"43326239.a56e0c","name":"end_day","label":"<font size = 5>Type your end day : ","tooltip":"","group":"a08f6e4.2bbc59","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":357.6444854736328,"y":388.63281536102295,"wires":[["90357917.1810c8","cb376b30.d33818","3979b192.4fe93e"]]},{"id":"c321e522.35dcf8","type":"ui_text","z":"43326239.a56e0c","group":"bc95711c.bf14c","order":5,"width":0,"height":0,"name":"shaked times","label":"<font size = 5>shaked times : ","format":"<font size = 5>{{msg.payload}}","layout":"row-left","x":1270,"y":100,"wires":[]},{"id":"3a420675.dc112a","type":"ui_text","z":"43326239.a56e0c","group":"bc95711c.bf14c","order":4,"width":0,"height":0,"name":"End Time","label":"End Time : ","format":"{{msg.payload}}","layout":"row-left","x":558.257698059082,"y":704.6327791213989,"wires":[]},{"id":"693a7321.4a9f1c","type":"ui_text","z":"43326239.a56e0c","group":"bc95711c.bf14c","order":2,"width":0,"height":0,"name":"Starting Time","label":"Starting Time : ","format":"{{msg.payload}}","layout":"row-left","x":568.2577095031738,"y":544.6328163146973,"wires":[]},{"id":"cb376b30.d33818","type":"ui_text","z":"43326239.a56e0c","group":"bc95711c.bf14c","order":3,"width":0,"height":0,"name":"End Day","label":"End Day : ","format":"{{msg.payload}}","layout":"row-left","x":560.2576904296875,"y":388.63281536102295,"wires":[]},{"id":"8f95b65b.a26938","type":"ui_text","z":"43326239.a56e0c","group":"bc95711c.bf14c","order":1,"width":0,"height":0,"name":"Starting Day","label":"Starting Day :","format":"{{msg.payload}}","layout":"row-left","x":580.2578010559082,"y":258.6328544616699,"wires":[]},{"id":"d5324723.4c3e28","type":"ui_chart","z":"43326239.a56e0c","name":"","group":"e207e2a9.52748","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"0","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1031.7288131713867,"y":440.0961046218872,"wires":[[]]},{"id":"533e5413.dfd1bc","type":"function","z":"43326239.a56e0c","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":823.9610366821289,"y":337.63032245635986,"wires":[["eb425df9.4812c"]]},{"id":"9333a22a.ecb07","type":"function","z":"43326239.a56e0c","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":806.6275901794434,"y":441.07452297210693,"wires":[["d5324723.4c3e28"]]},{"id":"84e85e8a.46a8c","type":"function","z":"43326239.a56e0c","name":"compare","func":"var start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nvar times = flow.get('times');\n\nvar index = end_day - start_day + 1;\nvar count = [index];\nvar add_day = 0;\n\nfor(var k=0 ; k<index ; k++){\n    count[k] = 0;\n}\n\nfor(var j=0 ; j < index ; j++){\n    for(var i=0 ; i < msg.payload.length-2 ; i++){    //max time : 86399   \n        if(\n        msg.payload[i].created_at >= 0 && \n        msg.payload[i].created_at <= 86400 &&  \n        msg.payload[i].year >= msg.payload[msg.payload.length-2].year &&\n        msg.payload[i].year <= msg.payload[msg.payload.length-1].year &&\n        msg.payload[i].month >= msg.payload[msg.payload.length-2].month &&\n        msg.payload[i].month <= msg.payload[msg.payload.length-1].month &&\n        msg.payload[i].day == (msg.payload[(msg.payload.length-2)].day)+j )\n        count[j]++;\n    }\n}\n\nflow.set('times', count);\n\n\nmsg.payload = count;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":100,"wires":[["dbde18d.a3ca9e8"]]},{"id":"eb425df9.4812c","type":"change","z":"43326239.a56e0c","name":"Temp_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":day, \"y\" : times}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060.6273460388184,"y":337.90805530548096,"wires":[["9333a22a.ecb07"]]},{"id":"1b80bae9.399c25","type":"function","z":"43326239.a56e0c","name":"set day&times format","func":"var start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nvar start_time = flow.get('start_time');\nvar end_time = flow.get('end_time');\n\nvar times = flow.get('times');\n\nvar day = end_day - start_day + 1;\n\nfor(var i=0 ; i<day ; i++){\n    msg.payload[i].day = start_year.toString() + \"-\" + start_month.toString() + \"-\" + (start_day+i).toString();\n    msg.payload[i].times = times[i];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1035.4839935302734,"y":258.485312461853,"wires":[["533e5413.dfd1bc"]]},{"id":"4c887179.4953a","type":"function","z":"43326239.a56e0c","name":"set_times","func":"var times = flow.get('times');\n\nmsg.data = [{\"y\" : times}];\n\nreturn msg;","outputs":1,"noerr":0,"x":795.0498809814453,"y":257.90372371673584,"wires":[["1b80bae9.399c25"]]},{"id":"dbde18d.a3ca9e8","type":"function","z":"43326239.a56e0c","name":"Total number of times","func":"var times = flow.get('times');\n\nvar total = 0;\n\nfor(i=0 ; i < times.length ; i++){\n    total = total + msg.payload[i];\n    \n}\nmsg.payload = total;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1080,"y":100,"wires":[["c321e522.35dcf8"]]},{"id":"a08f6e4.2bbc59","type":"ui_group","z":"","name":"Input","tab":"13ba9a9b.3c9215","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc95711c.bf14c","type":"ui_group","z":"","name":"Group 2","tab":"13ba9a9b.3c9215","order":2,"disp":false,"width":"6","collapse":false},{"id":"e207e2a9.52748","type":"ui_group","z":"","name":"Chart","tab":"13ba9a9b.3c9215","order":3,"disp":true,"width":"6","collapse":false},{"id":"13ba9a9b.3c9215","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
