Lab-2_DHT.json
[{"id":"b5709e96.759fb","type":"mqtt in","z":"796f6f42.187ca","name":"","topic":"GIOT-GW/UL/1C497BF27096","qos":"0","datatype":"auto","broker":"3953c625.8f206a","x":166.49998474121094,"y":252.00000762939453,"wires":[["51d83321.e4d54c","c1077047.8f02d","a29bd6fe.508e98"]]},{"id":"a29bd6fe.508e98","type":"debug","z":"796f6f42.187ca","name":"mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":437.4999656677246,"y":186.0001049041748,"wires":[]},{"id":"77905cff.316774","type":"function","z":"796f6f42.187ca","name":"temperature_filter","func":"var first = msg.payload.substring(0,2);\nvar last = msg.payload.substring(2,4);\nmsg.payload = first + \".\" + last\n\nreturn msg;","outputs":1,"noerr":0,"x":687.9999351501465,"y":252.00006866455078,"wires":[["e189d766.7d3898","a5bd2d5.12f47d"]]},{"id":"c470e3c4.accd6","type":"function","z":"796f6f42.187ca","name":"humidity_filter","func":"var first = msg.payload.substring(4,6);\nvar last = msg.payload.substring(6,8);\nmsg.payload = first + \".\" + last\n\nreturn msg;","outputs":1,"noerr":0,"x":684.9999809265137,"y":380.00000953674316,"wires":[["985f1514.3ea798","4435e39a.ee218c"]]},{"id":"e189d766.7d3898","type":"ui_text","z":"796f6f42.187ca","group":"8717748a.6895b8","order":1,"width":0,"height":0,"name":"","label":"<font size = 4>Current Temperature : ","format":"{{msg.payload}} °C","layout":"row-left","x":1032.0000267028809,"y":252.00002098083496,"wires":[]},{"id":"985f1514.3ea798","type":"ui_text","z":"796f6f42.187ca","group":"32e123a1.2bfe2c","order":1,"width":0,"height":0,"name":"","label":"<font size = 4>Current Humidity : ","format":"{{msg.payload}} %","layout":"row-left","x":1021.9999351501465,"y":381.00004386901855,"wires":[]},{"id":"51d83321.e4d54c","type":"string","z":"796f6f42.187ca","name":"data_filter","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"\"data\":\""}]},{"name":"delRightMost","params":[{"type":"str","value":"\",\"fr"}]},{"name":"delRightMost","params":[{"type":"str","value":"\", \"fr"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":457.50002670288086,"y":252.0000343322754,"wires":[["77905cff.316774","c470e3c4.accd6","da89c59b.b32df8"]]},{"id":"8692a074.58016","type":"mysql","z":"796f6f42.187ca","mydb":"de927099.598a3","name":"SQL DB","x":416.5799045562744,"y":690.2502117156982,"wires":[["dfeb6c2d.1e23a","ee3351c4.d2212"]]},{"id":"4435e39a.ee218c","type":"ui_gauge","z":"796f6f42.187ca","name":"","group":"32e123a1.2bfe2c","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":902.5694236755371,"y":434.84374809265137,"wires":[]},{"id":"da89c59b.b32df8","type":"function","z":"796f6f42.187ca","name":"SQL_filter","func":"var temp_first = msg.payload.substring(0,2);\nvar temp_last = msg.payload.substring(2,4);\ntemperature = temp_first + \".\" + temp_last;\n\nvar humi_first = msg.payload.substring(4,6);\nvar humi_last = msg.payload.substring(6,8);\nhumidity = humi_first + \".\" + humi_last;\n\nmsg.topic = \"INSERT INTO test (temperature , humidity ) VALUES (\" + temperature + \" , \" + humidity + \" )\";\nreturn msg;","outputs":1,"noerr":0,"x":585.5000839233398,"y":574.6772089004517,"wires":[["2ee66875.8b4b88"]]},{"id":"2ee66875.8b4b88","type":"mysql","z":"796f6f42.187ca","mydb":"de927099.598a3","name":"SQL DB","x":772.0173568725586,"y":573.4550161361694,"wires":[["ba62ad97.f4f88"]]},{"id":"ba62ad97.f4f88","type":"debug","z":"796f6f42.187ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":957.0173950195312,"y":572.566047668457,"wires":[]},{"id":"a5bd2d5.12f47d","type":"ui_gauge","z":"796f6f42.187ca","name":"","group":"8717748a.6895b8","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":903.0172996520996,"y":304.1215543746948,"wires":[]},{"id":"dfeb6c2d.1e23a","type":"JSONFilter","z":"796f6f42.187ca","name":"temp_filter","fields":"time,temperature","expiry":5,"x":589.0196189880371,"y":690.0043144226074,"wires":[["d31eee86.91d28"]]},{"id":"d31eee86.91d28","type":"function","z":"796f6f42.187ca","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":796.0172920227051,"y":690.2328701019287,"wires":[["8747d1d.38aee3"]]},{"id":"8747d1d.38aee3","type":"change","z":"796f6f42.187ca","name":"Temp_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":time, \"y\" : temperature}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":989.0173377990723,"y":689.2329940795898,"wires":[["f09ab70c.523988"]]},{"id":"f09ab70c.523988","type":"function","z":"796f6f42.187ca","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1172.0173072814941,"y":688.1216125488281,"wires":[["7dde6fe6.cf10c"]]},{"id":"7dde6fe6.cf10c","type":"ui_chart","z":"796f6f42.187ca","name":"","group":"8717748a.6895b8","order":3,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1391.0173969268799,"y":688.1216297149658,"wires":[[]]},{"id":"4efa5ef0.c5377","type":"inject","z":"796f6f42.187ca","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1175.017406463623,"y":756.1216955184937,"wires":[["7dde6fe6.cf10c"]]},{"id":"ee3351c4.d2212","type":"JSONFilter","z":"796f6f42.187ca","name":"humi_filter","fields":"time,humidity","expiry":5,"x":585.0173225402832,"y":833.2327175140381,"wires":[["89b6ae55.0cdd5"]]},{"id":"89b6ae55.0cdd5","type":"function","z":"796f6f42.187ca","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":792.0149955749512,"y":833.4612731933594,"wires":[["bdaea5b4.9924d8"]]},{"id":"bdaea5b4.9924d8","type":"change","z":"796f6f42.187ca","name":"Humi_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":time, \"y\" : humidity}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":985.0150413513184,"y":832.4613971710205,"wires":[["1802d659.1d8c5a"]]},{"id":"1802d659.1d8c5a","type":"function","z":"796f6f42.187ca","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1168.0150108337402,"y":831.3500156402588,"wires":[["fff69ab4.b58078"]]},{"id":"fff69ab4.b58078","type":"ui_chart","z":"796f6f42.187ca","name":"","group":"32e123a1.2bfe2c","order":3,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1377.015100479126,"y":831.3500328063965,"wires":[[]]},{"id":"fdff1a34.184b18","type":"inject","z":"796f6f42.187ca","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1171.0151100158691,"y":899.3500986099243,"wires":[["fff69ab4.b58078"]]},{"id":"c1077047.8f02d","type":"function","z":"796f6f42.187ca","name":"select","func":"msg.topic = \"SELECT * FROM test ORDER BY id DESC Limit 10\";\nreturn msg;","outputs":1,"noerr":0,"x":267.58336639404297,"y":690.0281047821045,"wires":[["8692a074.58016"]]},{"id":"3953c625.8f206a","type":"mqtt-broker","z":"","name":"","broker":"140.127.196.98","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8717748a.6895b8","type":"ui_group","z":"","name":"Temperature","tab":"d1787e45.d677","order":1,"disp":true,"width":"6","collapse":false},{"id":"32e123a1.2bfe2c","type":"ui_group","z":"","name":"Humidity","tab":"d1787e45.d677","order":2,"disp":true,"width":"6","collapse":false},{"id":"de927099.598a3","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""},{"id":"d1787e45.d677","type":"ui_tab","z":"796f6f42.187ca","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]