Lab-6_door.json
[{"id":"8fc76e03.8ebeb","type":"http request","z":"38803eb3.3f86e2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://campus.kits.tw/api/get/data/aa85e711","tls":"","proxy":"","authType":"bearer","x":299.3945846557617,"y":205.42968273162842,"wires":[["8d982a9b.2b7af8"]]},{"id":"8d982a9b.2b7af8","type":"JSONFilter","z":"38803eb3.3f86e2","name":"time_filter","fields":"created_at","expiry":5,"x":480.0236511230469,"y":205.66016578674316,"wires":[["3afe3a38.e68866","646e076d.1ab9d8"]]},{"id":"d97eeb6.21dc818","type":"function","z":"38803eb3.3f86e2","name":"count_times","func":"var count = 0;\n\nfor(var i=0 ; i < msg.payload.length-2 ; i++){\n    if(\n    msg.payload[i].created_at >= msg.payload[msg.payload.length-2].created_at && \n    msg.payload[i].created_at <= msg.payload[msg.payload.length-1].created_at && \n    msg.payload[i].year >= msg.payload[msg.payload.length-2].year &&\n    msg.payload[i].year <= msg.payload[msg.payload.length-1].year &&\n    msg.payload[i].month >= msg.payload[msg.payload.length-2].month &&\n    msg.payload[i].month <= msg.payload[msg.payload.length-1].month &&\n    msg.payload[i].day >= msg.payload[msg.payload.length-2].day &&\n    msg.payload[i].day <= msg.payload[msg.payload.length-1].day)\n    count++;\n}\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":917.0196952819824,"y":205.00397777557373,"wires":[["23813a8b.cd57d6"]]},{"id":"3afe3a38.e68866","type":"function","z":"38803eb3.3f86e2","name":"time to seconds","func":"var hour = [];\nvar min = [];\nvar sec = [];\nvar total = [];\nvar year = [];\nvar month = [];\nvar day = [];\n\nvar start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nvar start_time = flow.get('start_time');\nvar end_time = flow.get('end_time');\n\n\nfor (var i=0 ; i<msg.payload.length ; i++) {\n    year[i] = parseInt(msg.payload[i].created_at.substring(0,4));\n    month[i] = parseInt(msg.payload[i].created_at.substring(5,7));\n    day[i] = parseInt(msg.payload[i].created_at.substring(8,10));\n    \n    hour[i] = parseInt(msg.payload[i].created_at.substring(11,13));\n    min[i] = parseInt(msg.payload[i].created_at.substring(14,16));\n    sec[i] = parseInt(msg.payload[i].created_at.substring(17,19));\n    \n    total[i] = hour[i]*3600 + min[i]*60 + sec[i];\n    \n    msg.payload[i].created_at = total[i];\n    msg.payload[i].year = year[i];\n    msg.payload[i].month = month[i];\n    msg.payload[i].day = day[i];\n}\n\nmsg.payload[msg.payload.length] = {\"created_at\":start_time , \"year\": start_year, \"month\": start_month, \"day\": start_day};\nmsg.payload[msg.payload.length] = {\"created_at\":end_time , \"year\": end_year, \"month\": end_month, \"day\": end_day};\n\nreturn msg;","outputs":1,"noerr":0,"x":691.0195159912109,"y":206.003924369812,"wires":[["d97eeb6.21dc818","1568fece.8328b1"]]},{"id":"97013163.b760a","type":"inject","z":"38803eb3.3f86e2","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114.01953125,"y":365.0039281845093,"wires":[["a8b4994.aadb168"]]},{"id":"107cd287.988ddd","type":"function","z":"38803eb3.3f86e2","name":"stored_day","func":"var start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nstart_year = parseInt(msg.payload.substring(0,4));\nstart_month = parseInt(msg.payload.substring(5,7));\nstart_day = parseInt(msg.payload.substring(8,10));\n\nflow.set('start_year', start_year);\nflow.set('start_month', start_month);\nflow.set('start_day', start_day);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":481.6522674560547,"y":416.8403778076172,"wires":[[]]},{"id":"a8b4994.aadb168","type":"ui_text_input","z":"38803eb3.3f86e2","name":"start_day","label":"<font size = 5>Type your starting day : ","tooltip":"","group":"a3ff290c.aa1cd8","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":270.03907012939453,"y":364.0625057220459,"wires":[["107cd287.988ddd","d32d4988.7f5c28","8fc76e03.8ebeb"]]},{"id":"32cdbe48.d597c2","type":"inject","z":"38803eb3.3f86e2","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.01953125,"y":650.0039281845093,"wires":[["23219f74.d06e4"]]},{"id":"dd11903e.8f736","type":"function","z":"38803eb3.3f86e2","name":"time to seconds","func":"var hour = 0;\nvar min = 0;\nvar sec = 0;\nvar total = 0;\nvar start_time = flow.get('start_time');\n\nhour = parseInt(msg.payload.substring(0,2));\nmin = parseInt(msg.payload.substring(3,5));\nsec = parseInt(msg.payload.substring(6,8));\ntotal = hour*3600 + min*60 + sec;\n\nflow.set('start_time', total);\n\nmsg.payload = total;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":488.43005752563477,"y":699.6180562973022,"wires":[[]]},{"id":"23219f74.d06e4","type":"ui_text_input","z":"38803eb3.3f86e2","name":"start_time","label":"<font size = 5>Type your starting time :  ","tooltip":"","group":"a3ff290c.aa1cd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":256.03905868530273,"y":650.0625,"wires":[["dd11903e.8f736","47c985e2.8ce3ec","8fc76e03.8ebeb"]]},{"id":"4ef6d162.3e4ba","type":"inject","z":"38803eb3.3f86e2","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116.01953125,"y":811.0038843154907,"wires":[["352b2019.2812"]]},{"id":"42dbce3c.a70a3","type":"function","z":"38803eb3.3f86e2","name":"time to seconds","func":"var hour = 0;\nvar min = 0;\nvar sec = 0;\nvar total = 0;\nvar end_time = flow.get('end_time');\n\nhour = parseInt(msg.payload.substring(0,2));\nmin = parseInt(msg.payload.substring(3,5));\nsec = parseInt(msg.payload.substring(6,8));\ntotal = hour*3600 + min*60 + sec;\n\nflow.set('end_time', total);\n\nmsg.payload = end_time;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":489.5411682128906,"y":861.8404121398926,"wires":[[]]},{"id":"352b2019.2812","type":"ui_text_input","z":"38803eb3.3f86e2","name":"end_time","label":"<font size = 5>Type your end time :  ","tooltip":"","group":"a3ff290c.aa1cd8","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":263.03907012939453,"y":810.0624828338623,"wires":[["42dbce3c.a70a3","7bde6c24.380f44","8fc76e03.8ebeb"]]},{"id":"c5a599e3.6fc548","type":"inject","z":"38803eb3.3f86e2","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115.01952743530273,"y":495.0039281845093,"wires":[["eab08f18.4d648"]]},{"id":"b329c674.6fc678","type":"function","z":"38803eb3.3f86e2","name":"stored_day","func":"var end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nend_year = parseInt(msg.payload.substring(0,4));\nend_month = parseInt(msg.payload.substring(5,7));\nend_day = parseInt(msg.payload.substring(8,10));\n\nflow.set('end_year', end_year);\nflow.set('end_month', end_month);\nflow.set('end_day', end_day);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":480.7633857727051,"y":547.9514064788818,"wires":[[]]},{"id":"eab08f18.4d648","type":"ui_text_input","z":"38803eb3.3f86e2","name":"end_day","label":"<font size = 5>Type your end day : ","tooltip":"","group":"a3ff290c.aa1cd8","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"2000","topic":"","x":267.03907012939453,"y":494.06249809265137,"wires":[["b329c674.6fc678","d5857099.64d99","8fc76e03.8ebeb"]]},{"id":"23813a8b.cd57d6","type":"ui_text","z":"38803eb3.3f86e2","group":"5cbe8edb.12ff1","order":5,"width":0,"height":0,"name":"shaked times","label":"<font size = 5>shaked times : ","format":"<font size = 5>{{msg.payload}}","layout":"row-left","x":1099.011703491211,"y":204.61331272125244,"wires":[]},{"id":"7bde6c24.380f44","type":"ui_text","z":"38803eb3.3f86e2","group":"5cbe8edb.12ff1","order":4,"width":0,"height":0,"name":"End Time","label":"End Time : ","format":"{{msg.payload}}","layout":"row-left","x":467.65228271484375,"y":810.0624618530273,"wires":[]},{"id":"47c985e2.8ce3ec","type":"ui_text","z":"38803eb3.3f86e2","group":"5cbe8edb.12ff1","order":2,"width":0,"height":0,"name":"Starting Time","label":"Starting Time : ","format":"{{msg.payload}}","layout":"row-left","x":477.65229415893555,"y":650.0624990463257,"wires":[]},{"id":"d5857099.64d99","type":"ui_text","z":"38803eb3.3f86e2","group":"5cbe8edb.12ff1","order":3,"width":0,"height":0,"name":"End Day","label":"End Day : ","format":"{{msg.payload}}","layout":"row-left","x":469.6522750854492,"y":494.06249809265137,"wires":[]},{"id":"d32d4988.7f5c28","type":"ui_text","z":"38803eb3.3f86e2","group":"5cbe8edb.12ff1","order":1,"width":0,"height":0,"name":"Starting Day","label":"Starting Day :","format":"{{msg.payload}}","layout":"row-left","x":489.6523857116699,"y":364.06253719329834,"wires":[]},{"id":"b7b74c2.08f57b","type":"ui_chart","z":"38803eb3.3f86e2","name":"","group":"60b25ff4.ca394","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"0","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":941.1233978271484,"y":545.5257873535156,"wires":[[]]},{"id":"5f1b33a0.aa138c","type":"function","z":"38803eb3.3f86e2","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":733.3556213378906,"y":443.0600051879883,"wires":[["aa4ce261.a8e17"]]},{"id":"1979eb6b.b1bad5","type":"function","z":"38803eb3.3f86e2","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":716.0221748352051,"y":546.5042057037354,"wires":[["b7b74c2.08f57b"]]},{"id":"1568fece.8328b1","type":"function","z":"38803eb3.3f86e2","name":"compare","func":"var start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nvar times = flow.get('times');\n\nvar index = end_day - start_day + 1;\nvar count = [index];\nvar add_day = 0;\n\nfor(var k=0 ; k<index ; k++){\n    count[k] = 0;\n}\n\nfor(var j=0 ; j < index ; j++){\n    for(var i=0 ; i < msg.payload.length-2 ; i++){    //max time : 86399   \n        if(\n        msg.payload[i].created_at >= 0 && \n        msg.payload[i].created_at <= 86400 &&  \n        msg.payload[i].year >= msg.payload[msg.payload.length-2].year &&\n        msg.payload[i].year <= msg.payload[msg.payload.length-1].year &&\n        msg.payload[i].month >= msg.payload[msg.payload.length-2].month &&\n        msg.payload[i].month <= msg.payload[msg.payload.length-1].month &&\n        msg.payload[i].day == (msg.payload[(msg.payload.length-2)].day)+j )\n        count[j]++;\n    }\n}\n\nflow.set('times', count);\n\n\nmsg.payload = count;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":901.133243560791,"y":254.44880199432373,"wires":[[]]},{"id":"aa4ce261.a8e17","type":"change","z":"38803eb3.3f86e2","name":"Temp_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":day, \"y\" : times}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970.0219306945801,"y":443.3377380371094,"wires":[["1979eb6b.b1bad5"]]},{"id":"54ef6982.fdc318","type":"function","z":"38803eb3.3f86e2","name":"set day&times format","func":"var start_year = flow.get('start_year');\nvar start_month = flow.get('start_month');\nvar start_day = flow.get('start_day');\n\nvar end_year = flow.get('end_year');\nvar end_month = flow.get('end_month');\nvar end_day = flow.get('end_day');\n\nvar start_time = flow.get('start_time');\nvar end_time = flow.get('end_time');\n\nvar times = flow.get('times');\n\nvar day = end_day - start_day + 1;\n\nfor(var i=0 ; i<day ; i++){\n    msg.payload[i].day = start_year.toString() + \"-\" + start_month.toString() + \"-\" + (start_day+i).toString();\n    msg.payload[i].times = times[i];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":944.8785781860352,"y":363.91499519348145,"wires":[["5f1b33a0.aa138c"]]},{"id":"646e076d.1ab9d8","type":"function","z":"38803eb3.3f86e2","name":"set_times","func":"var times = flow.get('times');\n\nmsg.data = [{\"y\" : times}];\n\nreturn msg;","outputs":1,"noerr":0,"x":704.444465637207,"y":363.33340644836426,"wires":[["54ef6982.fdc318"]]},{"id":"a3ff290c.aa1cd8","type":"ui_group","z":"","name":"Input","tab":"622bf404.c8b79c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5cbe8edb.12ff1","type":"ui_group","z":"","name":"Group 2","tab":"622bf404.c8b79c","order":2,"disp":false,"width":"6","collapse":false},{"id":"60b25ff4.ca394","type":"ui_group","z":"","name":"Chart","tab":"622bf404.c8b79c","order":3,"disp":true,"width":"6","collapse":false},{"id":"622bf404.c8b79c","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]