lab2_DHT(macAddr_filter).json
[{"id":"97a5ef02.d98a7","type":"mqtt in","z":"292a2940.a7c846","name":"","topic":"GIOT-GW/UL/1C497B4558A3","qos":"0","datatype":"auto","broker":"c0ac8186.5e8ff","x":170,"y":140,"wires":[["6661778a.e74d88","2e03ca0.8448236","8c02c795.2538d8","f7acba3d.d21ac8"]]},{"id":"2e03ca0.8448236","type":"debug","z":"292a2940.a7c846","name":"mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":60,"wires":[]},{"id":"32b75d50.b2d182","type":"function","z":"292a2940.a7c846","name":"temperature_filter","func":"var first = msg.payload.substring(0,2);\nvar last = msg.payload.substring(2,4);\nmsg.payload = first + \".\" + last\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":140,"wires":[["855e7ace.1474f8","d2ea3a08.c9c7c8"]]},{"id":"d125bfc3.1466a","type":"function","z":"292a2940.a7c846","name":"humidity_filter","func":"var first = msg.payload.substring(4,6);\nvar last = msg.payload.substring(6,8);\nmsg.payload = first + \".\" + last\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":280,"wires":[["cec2cb35.a38578","6a40bb06.551884"]]},{"id":"855e7ace.1474f8","type":"ui_text","z":"292a2940.a7c846","group":"fe5e6054.62ab3","order":1,"width":0,"height":0,"name":"","label":"<font size = 4>Current Temperature : ","format":"{{msg.payload}} °C","layout":"row-left","x":1400,"y":140,"wires":[]},{"id":"cec2cb35.a38578","type":"ui_text","z":"292a2940.a7c846","group":"9a0f8d4a.60d82","order":1,"width":0,"height":0,"name":"","label":"<font size = 4>Current Humidity : ","format":"{{msg.payload}} %","layout":"row-left","x":1390,"y":280,"wires":[]},{"id":"95fdc1bd.2cadb","type":"string","z":"292a2940.a7c846","name":"data_filter","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"\"data\":\""}]},{"name":"delRightMost","params":[{"type":"str","value":"\",\"fr"}]},{"name":"delRightMost","params":[{"type":"str","value":"\", \"fr"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":140,"wires":[["32b75d50.b2d182","d125bfc3.1466a","78ed9ce0.262e94"]]},{"id":"7d62a24d.3da84c","type":"mysql","z":"292a2940.a7c846","mydb":"cc1b1d50.c9696","name":"SQL DB","x":450.0799198150635,"y":598.2502040863037,"wires":[["cb76bea9.8db98","80de2aee.e42788"]]},{"id":"6a40bb06.551884","type":"ui_gauge","z":"292a2940.a7c846","name":"","group":"9a0f8d4a.60d82","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":340,"wires":[]},{"id":"78ed9ce0.262e94","type":"function","z":"292a2940.a7c846","name":"SQL_filter","func":"var temp_first = msg.payload.substring(0,2);\nvar temp_last = msg.payload.substring(2,4);\ntemperature = temp_first + \".\" + temp_last;\n\nvar humi_first = msg.payload.substring(4,6);\nvar humi_last = msg.payload.substring(6,8);\nhumidity = humi_first + \".\" + humi_last;\n\nmsg.topic = \"INSERT INTO test (temperature , humidity ) VALUES (\" + temperature + \" , \" + humidity + \" )\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["9b945b12.d756a8"]]},{"id":"9b945b12.d756a8","type":"mysql","z":"292a2940.a7c846","mydb":"cc1b1d50.c9696","name":"SQL DB","x":920,"y":420,"wires":[["4d30535d.4699bc"]]},{"id":"4d30535d.4699bc","type":"debug","z":"292a2940.a7c846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":420,"wires":[]},{"id":"d2ea3a08.c9c7c8","type":"ui_gauge","z":"292a2940.a7c846","name":"","group":"fe5e6054.62ab3","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":200,"wires":[]},{"id":"cb76bea9.8db98","type":"JSONFilter","z":"292a2940.a7c846","name":"temp_filter","fields":"time,temperature","expiry":5,"x":622.5196342468262,"y":598.0043067932129,"wires":[["e7d889fc.a02ab8"]]},{"id":"e7d889fc.a02ab8","type":"function","z":"292a2940.a7c846","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":829.5173072814941,"y":598.2328624725342,"wires":[["8a99274c.e373b8"]]},{"id":"8a99274c.e373b8","type":"change","z":"292a2940.a7c846","name":"Temp_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":time, \"y\" : temperature}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1022.5173530578613,"y":597.2329864501953,"wires":[["ba0c77ae.e1d2b8"]]},{"id":"ba0c77ae.e1d2b8","type":"function","z":"292a2940.a7c846","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1205.5173225402832,"y":596.1216049194336,"wires":[["26e30e2d.c5aa42"]]},{"id":"26e30e2d.c5aa42","type":"ui_chart","z":"292a2940.a7c846","name":"","group":"fe5e6054.62ab3","order":3,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1424.517412185669,"y":596.1216220855713,"wires":[[]]},{"id":"f1e16b3b.5de3e8","type":"inject","z":"292a2940.a7c846","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1208.517421722412,"y":664.1216878890991,"wires":[["26e30e2d.c5aa42"]]},{"id":"80de2aee.e42788","type":"JSONFilter","z":"292a2940.a7c846","name":"humi_filter","fields":"time,humidity","expiry":5,"x":618.5173377990723,"y":741.2327098846436,"wires":[["55446e9.d12ab9"]]},{"id":"55446e9.d12ab9","type":"function","z":"292a2940.a7c846","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":825.5150108337402,"y":741.4612655639648,"wires":[["783a6bfb.e85004"]]},{"id":"783a6bfb.e85004","type":"change","z":"292a2940.a7c846","name":"Humi_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":time, \"y\" : humidity}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1018.5150566101074,"y":740.461389541626,"wires":[["14458ad3.42ed45"]]},{"id":"14458ad3.42ed45","type":"function","z":"292a2940.a7c846","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1201.5150260925293,"y":739.3500080108643,"wires":[["19adfeec.8aa5f1"]]},{"id":"19adfeec.8aa5f1","type":"ui_chart","z":"292a2940.a7c846","name":"","group":"9a0f8d4a.60d82","order":3,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1410.515115737915,"y":739.350025177002,"wires":[[]]},{"id":"baea0f6e.4a113","type":"inject","z":"292a2940.a7c846","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1204.5151252746582,"y":807.3500909805298,"wires":[["19adfeec.8aa5f1"]]},{"id":"6661778a.e74d88","type":"function","z":"292a2940.a7c846","name":"select","func":"msg.topic = \"SELECT * FROM test ORDER BY id DESC Limit 10\";\nreturn msg;","outputs":1,"noerr":0,"x":301.08338165283203,"y":598.02809715271,"wires":[["7d62a24d.3da84c"]]},{"id":"90df869e.2e0bc8","type":"function","z":"292a2940.a7c846","name":"set_macAddr","func":"var macAddr = flow.get('macAddr');\n\nmacAddr = msg.payload;\n\nflow.set('macAddr', macAddr);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["e15a656d.c39a98"]]},{"id":"e15a656d.c39a98","type":"debug","z":"292a2940.a7c846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":380,"wires":[]},{"id":"8c02c795.2538d8","type":"string","z":"292a2940.a7c846","name":"get_macAddr","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"\"macAddr\":\""}]},{"name":"delRightMost","params":[{"type":"str","value":"\", \"data\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":470,"y":220,"wires":[["90df869e.2e0bc8"]]},{"id":"f7acba3d.d21ac8","type":"function","z":"292a2940.a7c846","name":"macAddr_filter","func":"var macAddr = flow.get('macAddr');\n\nif(macAddr == \"0000000002000172\"){\n    return msg;\n}\nelse\n    return null;\n    ","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["95fdc1bd.2cadb","1e1ef8e8.5741f7"]]},{"id":"1e1ef8e8.5741f7","type":"debug","z":"292a2940.a7c846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":60,"wires":[]},{"id":"c0ac8186.5e8ff","type":"mqtt-broker","z":"","name":"","broker":"140.127.196.120","port":"1883","clientid":"isu10603006a","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe5e6054.62ab3","type":"ui_group","z":"","name":"Temperature","tab":"da866119.4b2e1","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a0f8d4a.60d82","type":"ui_group","z":"","name":"Humidity","tab":"da866119.4b2e1","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc1b1d50.c9696","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""},{"id":"da866119.4b2e1","type":"ui_tab","z":"292a2940.a7c846","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]